.box:hover{

    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.5);
    transition: 1s ease;
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);


}

.carousal{

    width: 900px;
    height: 100px;


}

.carousalBox{

display: flex;
justify-content: center;
margin-top: 100px;
}

