
.nav{

   background: linear-gradient(#faf9fa, #f9f9fc);
   width: 100%;
   border-radius: 20px;
   position: fixed;
   z-index: 1;
   height: 20%;
   top:0;
   box-shadow: 20px 20px 50px grey;

}
.container{

display: flex;
justify-content: space-around;
align-items: center;
padding: 40px;


}


.left{

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;

}

.logo{

cursor: pointer;

border-radius: 0px;

}
.menu{

display: flex;
align-items: center;
justify-content: center;
list-style: none;
gap:40px

}

ul li a{

text-decoration:none ;
font-weight: 550;
color: goldenrod;


}
ul li a:hover{

color:rgb(193, 183, 202);
cursor: pointer;

}



.list:hover{

    color: goldenrod;
    cursor: pointer;

}

.material-symbols-outlined{


padding-right: 3px;

}