
.nav{

   background: linear-gradient(#838183, #c5c5d1);
   width: 100%;
   border-radius: 20px;
   position: fixed;
   z-index: 999;
   height: 20%;
   top:0;
   box-shadow: 20px 20px 50px grey;

}
.container{

display: flex;
justify-content: space-around;
align-items: center;
padding: 40px;


}


.left{

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;

}

.logo{

cursor: pointer;
border: 3px solid goldenrod;
border-radius: 10px;


}
.menu{

display: flex;
align-items: center;
justify-content: center;
list-style: none;
gap:40px

}

ul li a{

text-decoration:none ;
font-weight: 550;
color: goldenrod;


}
ul li a:hover{

color: white;
cursor: pointer;

}



.list:hover{

    color: goldenrod;
    cursor: pointer;

}

.material-symbols-outlined{


padding-right: 3px;

}